body {
    font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans KR', sans-serif;

    font-weight: 300;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #121212;

}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    font-size: 14px;
    color: #121212;
}

header nav {
    display: flex;
    gap: 32px;
    align-items: center;
    height: 100%;
    padding-right: 29px;
}

header nav a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-family: 'SUIT', sans-serif;
    font-weight: 800;
}


.hero-content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 32px;
    align-items: center;
    padding: 0 61px;
    max-width: 90%;
}

.hero {
    position: relative;
}

.hero iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    display: block;
}

.hero-caption {
    position: static;
    margin-top: 8px;
    font-size: 14px;
    text-align: left;
    line-height: 1.5;


}

main {
    padding: 0px 61px;
    gap: 53px;
}


.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 48px 32px;
    padding: 81px 0px;
}

.project {
    display: flex;
    flex-direction: row;
    grid-template-columns: auto 408px;
    align-items: start;
    gap: 32px;
}

.project a {
    text-decoration: none;
    color: inherit;
    display: contents;
    /* 중요: 그리드 깨지지 않게 */
}




.project-thumb {
    position: relative;
    background: #ccc;
    width: 80%;
    max-width: 408px;
    ;
    flex-shrink: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.project-img {
    position: absolute;
    top: 0;
    left: 0;
    background: #ccc;
    width: 100%;
    padding-bottom: 56.25%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.project-title {
    text-align: left;
    margin-top: 8px
}

.footer-caption {
    font-size: 11px;
    text-align: center;
    color: #666;
    padding: 48px 32px 8px;
    line-height: 1.5;
}

.about {
    height: 60vh;
    padding-left: 247px;
    padding-top: 99px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.about h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;

}

.about p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    padding-left: 29px;
    margin-top: 0;
}

.ipa {
    font-family: 'Roboto', sans-serif;
}

.mobile-br {
    display: inline;
    /* 기본: 줄 안 바꿈 */
}

.contact {
    height: 60vh;
    padding-top: 99px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.email {
    font-family: 'SUIT', sans-serif;
    font-size: 34px;
    white-space: nowrap;
}

#copied {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 0.9rem;
    z-index: 1000;
    opacity: 0.9;
  }


.logo svg {
    display: block;
    padding: 29px;
    height: 30px;
}

.logo path {
    fill: #121212;
}

.title {
    display: flex;
    align-items: center;
    font-family: 'Source Han Sans KR', sans-serif;
    font-weight: 700;
}


footer {
    text-align: center;
    margin: 53px;
}

@media (max-width: 768px) {

    header {
        padding: 16px;
    }

    header nav {
        padding: 16px;
    }

    .logo svg {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 0px;
        height: auto;

    }

    .hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 0;
    }

    .hero iframe {
        aspect-ratio: 16 / 9;
    }

    .hero-caption {
        position: static;
        margin-top: 16px;
        text-align: center;
        padding: 0 16px;
    }


    .projects {
        grid-template-columns: 1fr;

    }

    .project {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 16px;

    }

    .project-title {
        text-align: center;
    }

    .about {
        padding: 32px 32px;
        align-items: center;
    }

    .title {
        flex-direction: column;
        align-items: center;
    }

    .about h1 {
        font-size: 16px;
    }

    .about p {
        padding-left: 0px;
        font-size: 16px;
        text-align: center;
    }

    .mobile-br {
        display: block;
        /* 모바일에서는 줄바꿈처럼 보여줌 */
    }

    .contact {
        font-size: 16px;
    }

    .email {
        font-size: 22px;
    }
}